
#logo path:nth-child(2){
    stroke-dasharray: 600px;
    stroke-dashoffset: 600px;
    animation: animate 2s ease forwards;
}   

#logo path:nth-child(3){
    stroke-dasharray: 370px;
    stroke-dashoffset: 370px;
    animation: animate 2s ease forwards 0.1s;
}

#logo path:nth-child(4){
    stroke-dasharray: 375px;
    stroke-dashoffset: 375px;
    animation: animate 2s ease forwards 0.2s;
}

#logo path:nth-child(5){
    stroke-dasharray: 420px;
    stroke-dashoffset: 420px;
    animation: animate 2s ease forwards 0.3s;
}

#logo path:nth-child(6){
    stroke-dasharray: 595px;
    stroke-dashoffset: 595px;
    animation: animate 2s ease forwards 0.4s;
}
#logo path:nth-child(7){
    stroke-dasharray: 1180px;
    stroke-dashoffset: 1180px;
    animation: animate 2s ease forwards 0.5s;
}

#logo path:nth-child(8){
    stroke-dasharray: 450px;
    stroke-dashoffset: 450px;
    animation: animate 2s ease forwards 0.9s;
}

#logo path:nth-child(9){
    stroke-dasharray: 620px;
    stroke-dashoffset: 620px;
    animation: animate 2s ease forwards ;
}

#logo path:nth-child(10){
    stroke-dasharray: 665px;
    stroke-dashoffset: 665px;
    animation: animate 2s ease forwards 0.1s;
}

#logo path:nth-child(11){
    stroke-dasharray: 375px;
    stroke-dashoffset: 375px;
    animation: animate 2s ease forwards 0.2s;
}

#logo path:nth-child(12){
    stroke-dasharray: 550px;
    stroke-dashoffset: 550px;
    animation: animate 2s ease forwards 0.3s;
}
.screen.up1 {
  margin-top: -107vh;
}

#logo path:nth-child(13){
    stroke-dasharray: 370px;
    stroke-dashoffset: 370px;
    animation: animate 2s ease forwards 0.4s;
}


#logo path:nth-child(14){
    stroke-dasharray: 450px;
    stroke-dashoffset: 450px;
    animation: animate 2s ease forwards 0.5s;
}



#logo path:nth-child(15){
    stroke-dasharray: 972px;
    stroke-dashoffset: 972px;
    animation: animate 2s ease forwards 0.6s;
}

#logo path:nth-child(16){
    stroke-dasharray: 590px;
    stroke-dashoffset: 590px;
    animation: animate 2s ease forwards 0.7s;
}
#logo path:nth-child(17){
    stroke-dasharray: 802px;
    stroke-dashoffset: 802px;
    animation: animate 2s ease forwards 0.8s;
}

#logo path:nth-child(18){
    stroke-dasharray: 450px;
    stroke-dashoffset: 450px;
    animation: animate 2s ease forwards 0.9s;
}

@keyframes animate {
    to{
        stroke-dashoffset: 0px;
    }
}