@import url("https://fonts.googleapis.com/css?family=Poppins&display=swap");

*::-webkit-scrollbar {
  width: 12px;
}

*::-webkit-scrollbar-track {
  background: linear-gradient(#6617CB, #CB218E, #6617CB);
  border-radius: 100vh;
  margin-bottom: 3rem;
}

*::-webkit-scrollbar-thumb {
  background: linear-gradient(#C373F2, #F977CE);
  border-radius: 100vw;
  border: 2px solid whitesmoke;
}
*::-webkit-scrollbar-thumb:hover {
  background: linear-gradient(#f830b6,#6617CB, #f830b6);
  border-radius: 100vw;
  border: 2px solid whitesmoke;
}

* {
  box-sizing: border-box;
  user-select: none;
}

:root {
  --primary: rgb(255, 28, 123);
  --second: rgba(222, 91, 255, 0.764);
  --hover: rgb(19, 247, 50);
  --textcol: #040b6b;
  --c: #090dff;
  --block: #0af9c9d3;
  --textcolblock: #f84046;
}

.dark-theme {
  --primary: #292d3f;
  --second: #888888;
  --hover: rgba(110, 117, 110, 0.722);
  --textcol: rgb(39, 33, 33);
  --c: #8892c6;
  --block: #92b4df65;
  --textcolblock: #547ba8;
}

.loader {

  position: fixed;
  z-index: 999999999 !important;
  background: #f6f6f6;

  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  margin: 0;
}

.disappear {
  animation: vanish 3s forwards;
}

@keyframes vanish {
  100% {
    opacity: 0;
    visibility: hidden;
  }
}

body {
  background: var(--primary);
  background: linear-gradient(149deg, var(--primary) 0%, var(--second) 100%);
  color: white;
  font-family: "STLiti", sans-serif;
  height: 100%;
  overflow: hidden;
  margin: 0;
  text-align: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.container {
  padding-right: 0.5rem;
  display: flex;
  justify-content: flex-end;
}

.container i{
  color: #0a183d;
  z-index: 1;
}

a {
  color: var(--primary);
}

h3 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.8vmin;
}

/* h2 {
  transform: scale(2.3);
} */

/* Play game hover effect starts */

.btn {
  color: var(--c);
  font-size: 19px;
  border: 0.3em solid var(--c);
  border-radius: 0.5em;
  width: 12em;
  height: 3.5em;
  text-transform: uppercase;
  font-weight: bold;
  font-family: sans-serif;
  letter-spacing: 0.1em;
  text-align: center;
  line-height: 3em;
  position: relative;
  overflow: hidden;
  z-index: 1;
  transition: 0.5s;
  margin: 2em;
  margin-top: -25px;
  cursor: pointer;
}

#instruction-btn, #gameTime1, #gameTime2, #gameTime3, #gameTime4{
  justify-content: center;
  display: flex;
  width: 11rem;
  height: 2.5rem;
  margin: 0px;
  margin-top: 0.3rem;
  margin-right: 0.5rem;
  font-size: 15px;
  align-items: center;
}

#instructions, #instructions2, #instructions3{
  border: 0.3em solid goldenrod;
  background-color: #eaf9d9;
  border-radius: 0.5em;
  position: absolute;
  z-index: 9;
  padding: 1rem;
  font-family: 'Times New Roman', Times, serif;
  font-weight: bold;
  display: none;
  width: 60vw;
  margin-bottom: 7rem;
  height: 90vh;
  color: #ff1251;
  flex-direction: column;
  justify-content: center;
  transition: all 0.5s ease-in-out;
  animation-name: scaleMenu;
  animation-duration: 3s;
  animation-iteration-count: 1;
  transform: scale(1);
}

#gameplayTime{
  border: 0.3em solid goldenrod;
  background-color: #eaf9d9;
  border-radius: 0.5em;
  position: absolute;
  z-index: 9;
  padding: 1rem;
  font-family: 'Times New Roman', Times, serif;
  font-weight: bold;
  display: none;
  align-items: center;
  justify-content: center;
  width: 50vw;
  margin-bottom: 10rem;
  height: 40vh;
  color: #ff1251;
  flex-direction: column;
  justify-content: space-evenly;
  transition: all 0.5s ease-in-out;
  animation-name: scaleMenu;
  animation-duration: 3s;
  animation-iteration-count: 1;
  transform: scale(1);
}

#instructions ol li, #instructions2 ol li, #instructions3 ol li{
 text-align:left;
 font-weight: 300;
}
li{
  margin-top:10px;
  
}
.image {
  display:block;
 }

span {
  position: absolute;
  width: 25%;
  height: 100%;
  background-color: var(--c);
  transform: translateY(100%);
  border-radius: 50%;
  left: calc((var(--n) - 1) * 25%);
  transition: 0.5s;
  transition-delay: calc((var(--n) - 1) * 0.1s);
  z-index: -1;
}

.btn:hover {
  color: white;
}

.btn:hover span {
  transform: translateY(0) scale(2);
}

.btn span:nth-child(1) {
  --n: 1;
}

.btn span:nth-child(2) {
  --n: 2;
}

.btn span:nth-child(3) {
  --n: 3;
}

.btn span:nth-child(4) {
  --n: 4;
}

/* Play Game hover effect ends. */

.screen {
  /* display: flex; */
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 95vh;
  width: 100vw;
  color: white;
  transition: margin 0.5s ease-out;
}

.screen-page {
  margin-bottom: 3em;
}

.main {
  display: flex;
  /* margin-bottom: 200px; */
  flex-direction: column;


}

.footer{
  font-family: Arial, Helvetica, sans-serif;
  height: auto;
  width: 100vw;
  background-color: #0a183d;
  bottom: 0;
  position: fixed;
  display: flex;
  flex-direction:row;
  flex-wrap:wrap;
  justify-content: space-between;
  align-items:center;
  padding: 0rem .5rem;
  z-index: 2;
}
.footer .copy{
  padding:.5rem 2rem;
}
.icons{
  padding:.5rem 2rem;
  text-align:center;
  justify-content:center;
}

.footer a{
  color: rgb(19, 247, 50);
  text-decoration: none;
}

.footer a:hover {
  color: #ffff3e;
  transition: all 0.3s linear;
}


.icons i {
  width: 40px;
  height: 40px;
  line-height: 40px;
  margin-left: 6px;
  border-radius: 100%;
  background-color: #73e8ea;
  color: #818a91;
  display: inline-block;
  text-align: center;
  transition: all 0.2s linear;
}

.github :hover {
  background-color: #040404;
  color: #fff;
}

.linkedin :hover {
  background-color: #007bb6;
  color: #fff;
}

.instagram :hover {
  background-color: #ea2c59;
  color: #fff;
}

.main h2 {
  font-family: Imprint MT Shadow;
  font-weight: 900;
  font-size: 7vmin;
  margin-top: -140px;
}

.head {
  display: none;
  width: 100%;
  flex-direction: column;
}

.fruit {
  flex: 1;
  justify-content: center;
}

.fruit h2 {
  font-size: 7vmin;
}

.vegetable .sweets .snacks{
  flex: 1;
  justify-content: center;
}

.screen.up {
  margin-top: -100vh;
}

.screen.up1 {
  margin-top: -107vh;
}
.container2 {
  overflow-y: scroll;
  overflow-x: hidden;
  width: 100%;
}

.lists {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  list-style-type: none;
  padding: 0;
  border: 3px solid var(--primary);
  border-radius: 10px;
  background-color: white;
  width: fit-content;
  margin: auto;
}

.lists img {
  transform: scale(0.7);
}

.lists li {
  margin: 0.625rem;
  padding: 10px;
}

.choose-btn {
  background-color: transparent;
  border: 0.23rem solid var(--textcol);
  border-radius: 9px;
  color: var(--c);
  cursor: pointer;
  font-family: inherit;
  width: 9.375rem;
  height: 9.375rem;
  background-color: var(--block);
  padding-bottom: 1rem;
}

.choose-btn:hover {
  background-color: var(--hover);
  transform: scale(1.1);

  transition: all 0.3s ease;
}

.choose-btn:active {
  background-color: rgba(255, 255, 255, 0.7);
}

.choose-btn p {
  font-family: "Stencil", sans-serif;
  transform: scale(1.1);
  color: var(--textcolblock);
}

.choose-btn img {
  width: 100px;
  height: 100px;
  object-fit: contain;
}

.game-container {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  margin-top: 6rem;
}

.time,
.score {
  position: absolute;
  top: 20px;
  transform: scale(1.4);
  border: 2px solid rgb(84, 84, 84);
  padding: 0.5rem;
  background-color: rgb(87, 87, 87);
  border-radius: 5px;
  z-index: 10;
}

.time {
  display: none;
  left: 50px;
}

.score {
  right: 50px;
}

.edible {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100px;
  height: 100px;
  position: absolute;
  transform: translate(-50%, -50%) scale(1);
  transition: transform 0.3s ease-in-out;
}

.edible.caught {
  transform: translate(-50%, -50%) scale(0);
}

.edible img {
  width: 100px;
  height: 100px;
}

p {
  color: #f3ffbd;
}

h1 {
  font-family: 'Times New Roman', Times, serif;
  font-size: 4vmin;
  color: #eaf9d9;
}

#light-icon {
  font-size: x-large;
  position: relative;
  cursor: pointer;
  padding: 0.5em;
  border-radius: 5px;
}

#back-icon {
  font-size: x-large;
  display: none;

  cursor: pointer;
  padding: 0.5em;
  border-radius: 5px;
}

#back-icon:hover,
#light-icon:hover,
#pause-button:hover {
  background-color: var(--primary);

  transition: all 0.2s ease;
}

#pause-button {
  display: none;
  width: 40px;
  height: 40px;
  position: fixed;
  z-index: 9;
  bottom: 2%;
  left: 1%;
}

#pause-menu {
  border: 0.3em solid goldenrod;
  background-color: #eaf9d9;
  border-radius: 0.5em;
  position: absolute;
  z-index: 9;
  margin-top: 35vh;
  margin-left: 30vw;
  width: 40vw;
  height: 30vh;
  flex-direction: column;
  justify-content: space-evenly;
}

#pause-menu .options {
  display: flex;
  justify-content: space-evenly;
}

#pause-menu p {
  font-family: 'Times New Roman', Times, serif;
  font-size: 4vmin;
  margin: 0 1.25rem;
  /* padding: 30px 30px 30px 60px; */
  color: goldenrod;
  border: 0.1em dashed #daa520;
  border-radius: 2%;
  /* letter-spacing: 30px; */
}

.play-button,
.restart-button,
.home-button {
  width: 40px;
  height: 40px;
}

#pause-menu {
  animation-name: scaleMenu;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  transform: scale(1);
}

@keyframes scaleMenu {
  10% {
    transform: scale(1.2);
  }

  20% {
    transform: scale(1);
  }
}

.play-button:hover,
.play-button:focus,
.restart-button:hover,
.restart-button:focus,
.home-button:focus,
.home-button:hover {
  background-color: #ffdf8f;
  color: var(--primary);
  transition: all 0.2s ease;
}

#gameOver-menu {
  border: 0.3em solid goldenrod;
  background-color: #eaf9d9;
  border-radius: 0.5em;
  position: absolute;
  z-index: 9;
  display: none;
  margin-top: 35vh;
  margin-left: 30vw;
  width: 40vw;
  height: 30vh;
  flex-direction: column;
  justify-content: space-evenly;
}

#gameOver-menu .gameover-options {
  display: flex;
  justify-content: space-evenly;
}

#finalScore{
  color: rgb(218,165,32);
  display: flex;
  align-items: center;
  font-weight: bolder;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 2.1rem;
}

#gameOver-menu p {
  font-size: 4vmin;
  margin: 0 1.25rem;
  /* padding: 30px 30px 30px 60px; */
  color: goldenrod;
  border: 0.1em dashed #daa520;
  border-radius: 2%;
  /* letter-spacing: 30px; */
}

#gameOver-menu {
  animation-name: scaleMenu;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  transform: scale(1);
}

@keyframes scaleMenu {
  10% {
    transform: scale(1.2);
  }

  20% {
    transform: scale(1);
  }
}

@media screen and (1336px<=width<1440px) {
  .head {
    overflow: scroll;
  }

  .fruit, .vegetable, .snacks, .sweets {
    /* margin-top: 5rem; */
    margin-bottom: 5vh;
  }
  .snacks {
    margin-bottom: 5rem;
  }
  .back-icon{
    margin-right: 10px;
  }
  .container{
    padding-right: 30px;
  }

}

@media screen and (1024px<=width<1336px) {
  .head {
    overflow: scroll;
  }
  .fruit, .vegetable, .snacks, .sweets {
    /* margin-top: 25rem; */
    margin-bottom: 5vh;
  }
  .snacks {
    margin-bottom: 5rem;
  }
  .container{
    padding-right: 30px;
  }
}

@media screen and (701px<width<1024px) {
  .head {
    overflow: scroll;
  }
  .fruit, .vegetable, .snacks, .sweets {
    margin-top: 4rem;
    margin-bottom: 5vh;
  }
  .snacks {
    margin-bottom: 5rem;
  }
  .container{
    padding-right: 30px;
  }
  .image {
    display:none;
   }
}

@media screen and (573px<=width<=701px) {
  .head {
    overflow: scroll;
  }
  
  .fruit,.vegetable, .snacks, .sweets {
    margin-top: 4rem;
    margin-bottom: 5vh;
  }
  .snacks {
    margin-bottom: 5rem;
  }

  .footer{
    font-size: 0.7rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .container{
    padding-right: 30px;
  }
  .image {
    display:none;
   }
   #instructions, #instructions2, #instructions3{
    font-size: 1rem!important;
  }
}

@media screen and (527px<width<573px) {
  .head {
    overflow: scroll;
  }
  .fruit,.vegetable, .snacks, .sweets {
    margin-top: 4rem;
    margin-bottom: 5vh;
  }
  .snacks {
    margin-bottom: 5rem;
  }
  .container{
    padding-right: 30px;
  }
  .image {
    display:none;
   }

}

@media screen and (383px<=width<=527px) {
  .head {
    overflow: scroll;
  }
  .fruit,.vegetable, .snacks, .sweets {
    margin-top: 4rem;
    margin-bottom: 5vh;
  }
  .snacks {
    margin-bottom: 5rem;
  }
  .container{
    padding-right: 30px;
  }
  .image {
    display:none;
   }

}

@media screen and (354px<=width<383px) {
  .head {
    overflow: scroll;
  }

  .btn {
    margin-top: 0px;
  }

  .fruit,.vegetable, .snacks, .sweets {
    margin-top: 4rem;
    margin-bottom: 5vh;
  }
  .snacks {
    margin-bottom: 5rem;
  }
  .container{
    padding-right: 30px;
  }
  .image {
    display:none;
   }

}

@media screen and (100px<=width<354px) {
  .head {
    overflow: scroll;
  }
  .image {
    display:none;
   }

  .btn {
    margin-top: 0px;
  }

  .fruit,.vegetable, .snacks, .sweets {
    margin-top: 4rem;
    margin-bottom: 5vh;
  }
  .snacks {
    margin-bottom: 5rem;
  }
  .footer{
    font-size: 0.7rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

.toggle-footer{
  display: none;
}

@media only screen and (max-width: 825px){
  .main h2{
    font-size: 5vmin;
    padding: 1rem;
  }

  .btn{
    font-size: 1rem;
    width: 10em;
  }

  .choose-btn{
    width: 8.375rem;
    height: 9.375rem;
  }

  .game-container{
    margin-top: 5rem;
  }

  .time, .score{
    top: 30px
  }

  #pause-menu {
    margin-top: 35vh;
    margin-left: 30vw;
    width: 45vw;
    height: 20vh;
  }
  .footer{
    font-size: 0.7rem;
    flex-direction: column;
    justify-content: center;
  }

  #instructions, #instructions2, #instructions3{
    font-size: small;
  }

  #gameplayTime div{
      flex-direction: column;
      height: 8rem;
  }
  .image {
    display:none;
   }
}

@media only screen and (max-width: 415px){

  .btn{
    font-size: 0.8rem;
    width: 10em;
  }

  .footer{
    font-size: 0.7rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
 .image {
  display:none;
 }
  .game-container{
    margin-top: 7rem;
  }

  .time, .score{
    top: 50px
  }

  #pause-menu {
    margin-top: 35vh;
    margin-left: 25vw;
    width: 55vw;
    height: 15vh;
  }

  /* #instructions, #instructions2, #instructions3{
    font-size: 0.47rem;
  } */
  #instructions ul, #instructions2 ul, #instructions3 ul{
    padding: 0px;
  }

  #gameplayTime{
    height: 54vh;
  }

  #gameplayTime div button{
    width: 7rem;
  }

}