@import url("https://fonts.googleapis.com/css?family=Poppins&display=swap");

*::-webkit-scrollbar {
    width: 12px;
}

*::-webkit-scrollbar-track {
    background: linear-gradient(#6617CB, #CB218E, #6617CB);
    border-radius: 100vh;
    margin-bottom: 3rem;
}

*::-webkit-scrollbar-thumb {
    background: linear-gradient(#C373F2, #F977CE);
    border-radius: 100vw;
    border: 2px solid whitesmoke;
}

*::-webkit-scrollbar-thumb:hover {
    background: linear-gradient(#f830b6, #6617CB, #f830b6);
    border-radius: 100vw;
    border: 2px solid whitesmoke;
}

* {
    box-sizing: border-box;
    user-select: none;
}

:root {
    --primary: rgb(255, 28, 123);
    --second: rgba(222, 91, 255, 0.764);
    --hover: rgb(19, 247, 50);
    --textcol: #040b6b;
    --c: #090dff;
    --block: #0af9c9d3;
    --textcolblock: #f84046;
}

.dark-theme {
    --primary: #292d3f;
    --second: #888888;
    --hover: rgba(110, 117, 110, 0.722);
    --textcol: rgb(39, 33, 33);
    --c: #8892c6;
    --block: #92b4df65;
    --textcolblock: #547ba8;
}


.loader {
    position: fixed;
    z-index: 999999999 !important;
    background: #f6f6f6;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    margin: 0;
}

.disappear {
    animation: vanish 3s forwards;
}

@keyframes vanish {
    100% {
        opacity: 0;
        visibility: hidden;
    }
}

/* Custom Cursor */
html {
    cursor: none;
    scroll-behavior: smooth;
}

.cursor {
    position: fixed;
    top: 0;
    left: 0;
    width: 1.5rem;
    height: 1.5rem;
    z-index: 2;
    pointer-events: none;
    z-index: 999;
}

.cursor div {
    position: absolute;
    display: grid;
    place-items: center;
}

.cursor div div {
    background: transparent;
    border: 2px solid white;
    border-radius: 50%;
    animation: pulse 2.5s linear infinite;
    box-shadow: 0 0 10px white;
    transition: transform 0.4s, background 0.4s;
}

.cursor div:nth-child(1),
.cursor div:nth-child(2) {
    width: 100%;
    height: 100%;
}

.cursor div:nth-child(1) {
    transition: transform 0.2s ease-out;
}

.cursor div:nth-child(2) {
    transition: transform 0.1s ease-out;
}

.cursor div:nth-child(2) div {
    background: #fff;
    border-radius: 50%;
    width: 4px;
    height: 4px;
}

body {
    background: var(--primary);
    background: linear-gradient(149deg, var(--primary) 0%, var(--second) 100%);
    color: white;
    font-family: "STLiti", sans-serif;
    height: 100%;
    overflow: hidden;
    margin: 0;
    text-align: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.container {
    display: flex;
    gap: 55rem;
    width: 100%;
    position: fixed;
}

.innerDiv {
    display: inline-flex;

}

.logoo {
    position: absolute;
    left: 1rem;
    top: 3px;

}

.container i {
    color: #0a183d;
    z-index: 1;
}

a {
    color: var(--primary);
}

h3 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.8vmin;
}

.btn {
    color: var(--c);
    font-size: 19px;
    border: 0.3em solid var(--c);
    border-radius: 0.5em;
    width: 12em;
    height: 3.5em;
    text-transform: uppercase;
    font-weight: bold;
    font-family: sans-serif;
    letter-spacing: 0.1em;
    text-align: center;
    line-height: 3em;
    position: relative;
    overflow: hidden;
    z-index: 1;
    transition: 0.5s;
    margin: 2em;
    margin-top: -25px;
    cursor: none;
}

.btn2 {
    background-color: #4CAF50;
    /* Green */
    border: none;
    margin-top: 10px;
    color: white;
    padding: 0.5em 1.5em;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 18px;
    cursor: none;
    border-radius: 0.5em;
    transform: 0.5s;
}

.btn2:hover {
    background-color: #3e8e41;
    transform: scale(1.1);
    transition: 0.5s;
}

.changable-text {
    color: #4CAF50;
    font-family: Arial, Helvetica, sans-serif;
    padding: 5px 15px;
    margin-top: 10px;
    margin-bottom: -3px;
    word-wrap: break-word;
    font-size: 1.25rem;
    border: 2px solid #2c2c2c;
    border-radius: 10px;
    height: auto !important;
}

#instruction-btn,
#gameTime1,
#gameTime2,
#gameTime3,
#gameTime4 {
    justify-content: center;
    display: flex;
    width: 11rem;
    height: 2.5rem;
    margin: 0px;
    margin-top: 0.3rem;
    margin-right: 0.5rem;
    font-size: 15px;
    align-items: center;
}

.instruction-close-btn {
    position: absolute;
    top: 10px;
    right: 10px; 
    background: none;
    border: none;
    font-size: 1.5rem;
    color: #ff0000;
}

#instructions.show,
#instructions2.show,
#instructions3.show {
    opacity: 1;
    transform: translateY(0);
}

#instructions,
#instructions2,
#instructions3 {
    border: 0.3em solid goldenrod;
    background-color: #eaf9d9;
    border-radius: 0.5em;
    position: absolute;
    z-index: 9;
    padding: 0 1rem;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    display: none;
    width: 60vw;
    margin-bottom: 7rem;
    margin-top: 1.6rem;
    height: 83vh;
    color: #ff1251;
    flex-direction: column;
    justify-content: center;
    opacity: 0;
    transform: translateY(-20px);
    transition: all 0.5s ease-in-out;
    overflow-y: auto;
    overflow-x: none;
}

.instruction-heading {
    margin-top: 2.5rem;
}

#instructions ol,
#instructions2 ol,
#instructions3 ol {
    margin-top: 0;
    margin-bottom: 0;
}

#instructions ol li,
#instructions2 ol li,
#instructions3 ol li {
    text-align: left;
    font-weight: 300;
}

li {
    margin-top: 10px;
}

span {
    position: absolute;
    width: 25%;
    height: 100%;
    background-color: var(--c);
    transform: translateY(100%);
    border-radius: 50%;
    left: calc((var(--n) - 1) * 25%);
    transition: 0.5s;
    transition-delay: calc((var(--n) - 1) * 0.1s);
    z-index: -1;
}

.btn:hover {
    color: white;
}

.btn:hover span {
    transform: translateY(0) scale(2);
}

.btn span:nth-child(1) {
    --n: 1;
}

.btn span:nth-child(2) {
    --n: 2;
}

.btn span:nth-child(3) {
    --n: 3;
}

.btn span:nth-child(4) {
    --n: 4;
}

.screen {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 95vh;
    width: 100vw;
    color: white;
    transition: margin 0.5s ease-out;
}

.screen-page {
    margin-bottom: 3em;
}

.main {
    display: flex;
    flex-direction: column;
}

.footer {
    font-family: Arial, Helvetica, sans-serif;
    height: auto;
    width: 100vw;
    background-color: #0a183d;
    bottom: 0;
    position: fixed;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 0rem .5rem;
    z-index: 0;
}

.footer .copy {
    padding: .5rem 2rem;
}

.icons {
    padding: .5rem 2rem;
    text-align: center;
    justify-content: center;
}

.footer a {
    color: rgb(19, 247, 50);
    text-decoration: none;
}

.footer a:hover {
    color: #ffff3e;
    transition: all 0.3s linear;
}

.icons i {
    width: 40px;
    height: 40px;
    line-height: 40px;
    margin-left: 6px;
    border-radius: 100%;
    background-color: #73e8ea;
    color: #818a91;
    display: inline-block;
    text-align: center;
    transition: all 0.2s linear;
}

.github :hover {
    background-color: #040404;
    color: #fff;
}

.linkedin :hover {
    background-color: #007bb6;
    color: #fff;
}

.instagram :hover {
    background-color: #ea2c59;
    color: #fff;
}

.main h2 {
    font-family: Imprint MT Shadow;
    font-weight: 900;
    font-size: 7vmin;
    margin-top: -140px;
}

.head {
    display: none;
    width: 100%;
    flex-direction: column;
}

.fruit {
    flex: 1;
    justify-content: center;
}

.fruit h2 {
    font-size: 7vmin;
}

.vegetable .sweets .snacks {
    flex: 1;
    justify-content: center;
}

.screen.up {
    margin-top: -95.7vh;
}

.screen.up1 {
    margin-top: -107vh;
}

.container2 {
    overflow-y: scroll;
    overflow-x: hidden;
    width: 100%;
}

.lists {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    list-style-type: none;
    padding: 0;
    border: 3px solid var(--primary);
    border-radius: 10px;
    background-color: white;
    width: fit-content;
    margin: auto;
}

.lists img {
    transform: scale(0.7);
}

.lists li {
    margin: 0.625rem;
    padding: 10px;
}

.choose-btn {
    background-color: transparent;
    overflow-y: hidden;
    border: 0.23rem solid var(--textcol);
    border-radius: 9px;
    color: var(--c);
    font-family: inherit;
    width: 9.375rem;
    height: 9.375rem;
    background-color: var(--block);
    padding-bottom: 1rem;
}

.choose-btn:hover {
    overflow-y: hidden;
    background-color: var(--hover);
    transform: scale(1.1);
    transition: all 0.3s ease;
}

.choose-btn:active {
    background-color: rgba(255, 255, 255, 0.7);
}

.choose-btn p {
    font-family: "Stencil", sans-serif;
    transform: scale(1.1);
    color: var(--textcolblock);
}

/* Making Images Undraggable */
img {
    -webkit-user-drag: none;
    /* Standard syntax */
    user-select: none;
    /* Standard syntax */
    -moz-user-select: none;
    /* Firefox */
    -webkit-user-drag: none;
    /* WebKit */
    -webkit-user-select: none;
    /* Chrome, Safari, and Opera */
    -ms-user-select: none;
    /* Internet Explorer/Edge */
}

.choose-btn img {
    width: 100px;
    height: 100px;
    object-fit: contain;
}

/* ----------------- Upload section ------------------- */

.container-upload {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 100px !important;
}

.uploadzone {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 0.1px;
    padding-bottom: 0.1em;
}

.wrapper {
    width: 498px;
    background-color: #fff;
    border-radius: 16px;
    backdrop-filter: blur(8.5px);
    -webkit-backdrop-filter: blur(8.5px);
    border: 3px solid var(--primary);
    padding: 30px;
}

.wrapper .dragDrop {
    height: 210px;
    display: flex;
    cursor: pointer;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-radius: 5px;
    border: 0.23rem dashed #000;
}

form :where(i, p) {
    color: #000;
}

form i {
    font-size: 50px;
    color: var(--block);
}

form p {
    margin-top: 15px;
    font-size: 18px;
    color: #000;
}

/* Animation - Optional */
@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.styled-url-input,
.submit-button {
    animation: fadeIn 1s ease;
}

section .row-upload {
    margin-bottom: 10px;
    background: #e9f0ff;
    list-style: none;
    padding: 15px 20px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

section .row-upload i {
    color: #000;
    font-size: 30px;
}

section .details-upload span {
    font-size: 14px;
}

.content-upload .progress-bar .progress {
    height: 100%;
    width: 0%;
    background: #000;
    border-radius: inherit;
}

.name {
    font-size: 14px;
    font-weight: 600;
    color: #000;
}

.uploaded-area {
    max-height: 232px;
    overflow-y: scroll;
}

.uploaded-area.onprogress {
    max-height: 150px;
}

.uploaded-area::-webkit-scrollbar {
    display: none;
}

.uploaded-area .row-upload .content-upload {
    display: flex;
    align-items: center;
}

.uploaded-area .row-upload .details-upload {
    display: flex;
    margin-left: 15px;
    flex-direction: column;
}

.uploaded-area .row-upload .details-upload .size {
    color: #404040;
    font-size: 12px;
}

.uploaded-area i.fa-check {
    font-size: 16px;
}

.uploaded-area .file-preview {
    width: 50px;
    height: 50px;
    margin-right: 15px;
    background-size: cover;
    background-position: center;
}

#upload-btn {
    display: none;
    border: none;
    margin-top: 1rem;
    color: white;
    padding: .5em 1.5em;
    text-align: center;
    text-decoration: none;
    font-size: 18px;
    cursor: none;
    background-color: var(--block);
    border-radius: 0.5em;
    scale: 1;
    transition: scale .3s ease-in-out;
}

#upload-btn:hover {
    scale: 1.05;
}

#upload-btn:active {
    scale: 0.95;
}

#snackbar {
    visibility: hidden;
    min-width: 250px;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(8.5px);
    -webkit-backdrop-filter: blur(8.5px);
    border: 1px solid rgba(97, 97, 97, 0.11);
    color: #000;
    text-align: center;
    padding: 16px;
    position: fixed;
    left: 50%;
    transform: translate(-50%, 0);
    z-index: 1;
    bottom: 30px;
    font-size: 17px;
}

#snackbar.show {
    visibility: visible;
    -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
}


/* Animations for Toast Message */
@-webkit-keyframes fadein {
    from {
        bottom: 0;
        opacity: 0;
    }

    to {
        bottom: 30px;
        opacity: 1;
    }
}

@keyframes fadein {
    from {
        bottom: 0;
        opacity: 0;
    }

    to {
        bottom: 30px;
        opacity: 1;
    }
}

@-webkit-keyframes fadeout {
    from {
        bottom: 30px;
        opacity: 1;
    }

    to {
        bottom: 0;
        opacity: 0;
    }
}

@keyframes fadeout {
    from {
        bottom: 30px;
        opacity: 1;
    }

    to {
        bottom: 0;
        opacity: 0;
    }
}

/* Responsive Upload Edible Section */

@media (min-width: 320px) and (max-width: 450px) {
    .upload-btn {
        width: 60vw !important;
    }

    .wrapper {
        width: 90%;
        min-width: 90%;
    }

    .container-upload h5 {
        margin-bottom: 3rem;
    }

    .container-upload h1 {
        font-size: 1.5rem;
    }

    .container-upload h3 {
        font-size: .7rem;
    }

    .name {
        font-size: 14px;
    }

    .uploaded-area .row-upload .details-upload {
        margin: 0;
        padding: 0 10px;
    }

    .row-upload i {
        display: none;
    }
}

/* Upload section */

.game-container {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    margin-top: 4rem;
}

.time,
.score {
    position: absolute;
    top: 20px;
    transform: scale(1.4);
    border: 2px solid rgb(84, 84, 84);
    padding: 0.5rem;
    background-color: rgb(87, 87, 87);
    border-radius: 5px;
    z-index: 10;
}

.time {
    display: none;
    left: 50px;
}

.score {
    right: 30px;
    top: 45px;
}

.edible,
.bomb {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100px;
    height: 100px;
    position: absolute;
    transform: translate(-50%, -50%) scale(1);
    transition: transform 0.3s ease-in-out;
}

.edible.caught,
.bomb.dead {
    transform: translate(-50%, -50%) scale(0);
}

.edible img,
.bomb img {
    width: 100px;
    height: 100px;
}

.rotten img {
    filter: invert(20%);
}

p {
    color: #f3ffbd;
}

h1 {
    font-family: 'Times New Roman', Times, serif;
    font-size: 4vmin;
    color: #eaf9d9;
}

#light-icon,
#volume-off-icon {
    font-size: x-large;
    position: relative;
    padding: 0.5em;
    border-radius: 5px;
}

#back-icon {
    font-size: x-large;
    display: none;
    padding: 0.5em;
    border-radius: 5px;
}


#light-icon:hover,
#volume-off-icon:hover,
#back-icon:hover {
    background-color: blue;
    color: white;
    transition: all 0.2s ease;
}

#pause-button:hover {
    color: blue;
    /* Add your desired text color on hover */
    animation: pulse 0.5s infinite;
    /* Add the animation */
}

@keyframes pulse {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.1);
    }

    100% {
        transform: scale(1);
    }
}

#pause-button {
    display: none;
    width: 40px;
    height: 40px;
    position: fixed;
    z-index: 9;
    bottom: 2%;
    left: 1%;
}

#pause-menu {
    border: 0.3em solid purple;
    background: rgb(249, 249, 202);
    background: radial-gradient(circle, rgb(230, 252, 255) 26%, rgb(112, 245, 240) 100%);
    border-radius: 0.5em;
    animation: colorfulBorder1 4s infinite linear;
    position: absolute;
    z-index: 9;
    margin-top: 35vh;
    margin-left: 30vw;
    width: 40vw;
    height: 30vh;
    flex-direction: column;
    justify-content: space-evenly;
    transition: all 0.5s ease-in-out;
    transform: scale(1);
}

#pause-menu .options {
    display: flex;
    justify-content: space-evenly;
}

#pause-menu p {
    font-family: 'Times New Roman', Times, serif;
    font-size: 4vmin;
    margin: 0 1.25rem;
    color: rgb(0, 0, 0);
    border: 0.1em dashed #daa520;
    border-radius: 2%;
}

.play-button,
.restart-button,
.home-button {
    width: 40px;
    height: 40px;
}

#pause-menu {
    animation-duration: 3s;
    animation-iteration-count: infinite;
    transform: scale(1);
}

.play-button:hover,
.play-button:focus,
.restart-button:hover,
.restart-button:focus,
.home-button:focus,
.home-button:hover {
    background-color: #ffdf8f;
    color: var(--primary);
    transition: all 0.2s ease;
}

#gameOver-menu {
    border: 0.3em solid rgb(79, 32, 218);
    background: rgb(249, 249, 202);
    background: radial-gradient(circle, rgb(230, 252, 255) 26%, rgb(112, 245, 240) 100%);
    border-radius: 0.5em;
    position: absolute;
    z-index: 9;
    display: none;
    margin-top: 35vh;
    margin-left: 30vw;
    width: 40vw;
    height: 30vh;
    flex-direction: column;
    justify-content: space-evenly;
    animation: colorfulBorder1 4s infinite alternate ease-in-out;
}

#gameOver-menu .gameover-options {
    display: flex;
    justify-content: space-evenly;
}

#finalScore {
    color: rgb(49, 25, 154);
    display: flex;
    align-items: center;
    font-weight: bolder;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2.1rem;
}

#gameOver-menu p {
    font-size: 4vmin;
    margin: 0 1.25rem;
    color: rgb(0, 0, 0);
    border: 0.1em dashed #daa520;
    border-radius: 2%;
}

#gameOver-menu {
    /* animation-name: scaleMenu; */
    animation-duration: 3s;
    animation-iteration-count: infinite;
    transform: scale(1);
}

@media screen and (1336px <=width < 1440px) {
    .head {
        overflow: auto;
    }

    .fruit,
    .vegetable,
    .snacks,
    .sweets {
        margin-bottom: 5vh;
    }

    .snacks {
        margin-bottom: 5rem;
    }

    .back-icon {
        margin-right: 10px;
    }

    .container {
        padding-right: 30px;
    }
}

@media screen and (1024px <=width < 1336px) {
    .head {
        overflow: auto;
    }

    .fruit,
    .vegetable,
    .snacks,
    .sweets {
        margin-bottom: 5vh;
    }

    .snacks {
        margin-bottom: 5rem;
    }

    .container {
        padding-right: 30px;
    }
}

@media screen and (701px < width < 1024px) {
    .head {
        overflow: auto;
    }

    .fruit,
    .vegetable,
    .snacks,
    .sweets {
        margin-top: 4rem;
        margin-bottom: 5vh;
    }

    .snacks {
        margin-bottom: 5rem;
    }

    .container {
        padding-right: 30px;
    }
}

@media screen and (573px <=width <=701px) {
    .head {
        overflow: auto;
    }

    .fruit,
    .vegetable,
    .snacks,
    .sweets {
        margin-top: 4rem;
        margin-bottom: 5vh;
    }

    .snacks {
        margin-bottom: 5rem;
    }

    .footer {
        font-size: 0.7rem;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .container {
        padding-right: 30px;
    }

    #instructions,
    #instructions2,
    #instructions3 {
        font-size: 1rem !important;
    }
}

@media screen and (527px < width < 573px) {
    .head {
        overflow: auto;
    }

    .fruit,
    .vegetable,
    .snacks,
    .sweets {
        margin-top: 4rem;
        margin-bottom: 5vh;
    }

    .snacks {
        margin-bottom: 5rem;
    }

    .container {
        padding-right: 30px;
    }
}

@media screen and (383px <=width <=527px) {
    .head {
        overflow: auto;
    }

    .fruit,
    .vegetable,
    .snacks,
    .sweets {
        margin-top: 4rem;
        margin-bottom: 5vh;
    }

    .snacks {
        margin-bottom: 5rem;
    }

    .container {
        padding-right: 30px;
    }
}

@media screen and (354px <=width < 383px) {
    .head {
        overflow: auto;
    }

    .btn {
        margin-top: 0px;
    }

    .fruit,
    .vegetable,
    .snacks,
    .sweets {
        margin-top: 4rem;
        margin-bottom: 5vh;
    }

    .snacks {
        margin-bottom: 5rem;
    }

    .container {
        padding-right: 30px;
    }
}

@media screen and (100px <=width < 354px) {
    .head {
        overflow: auto;
    }

    .btn {
        margin-top: 0px;
    }

    .fruit,
    .vegetable,
    .snacks,
    .sweets {
        margin-top: 4rem;
        margin-bottom: 5vh;
    }

    .snacks {
        margin-bottom: 5rem;
    }

    .footer {
        font-size: 0.7rem;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}

.toggle-footer {
    display: none;
}

@media only screen and (max-width: 825px) {
    .main h2 {
        font-size: 5vmin;
        padding: 1rem;
    }

    .btn {
        font-size: 1rem;
        width: 10em;
    }

    .choose-btn {
        width: 8.375rem;
        height: 9.375rem;
    }

    .game-container {
        margin-top: 5rem;
    }

    .time,
    .score {
        top: 30px
    }

    #pause-menu {
        margin-top: 35vh;
        margin-left: 30vw;
        width: 45vw;
        height: 20vh;
    }

    .footer {
        font-size: 0.7rem;
        flex-direction: column;
        justify-content: center;
    }

    #instructions,
    #instructions2,
    #instructions3 {
        font-size: small;
    }

    #gameplayTime div {
        flex-direction: column;
        height: 8rem;
    }
}

@media only screen and (max-width: 415px) {
    .btn {
        font-size: 0.8rem;
        width: 10em;
    }

    .footer {
        font-size: 0.7rem;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .game-container {
        margin-top: 7rem;
    }

    .time,
    .score {
        top: 50px
    }

    #pause-menu {
        margin-top: 35vh;
        margin-left: 25vw;
        width: 55vw;
        height: 15vh;
    }

    #instructions ul,
    #instructions2 ul,
    #instructions3 ul {
        padding: 0px;
    }

    #gameplayTime {
        height: 80vh;
    }

    #gameplayTime div button {
        width: 7rem;
    }
}

:root {
    --progress-bar-light: blue;
    /* Define color for light theme */
    --progress-bar-dark: hotpink;
    /* Define color for dark theme */
}

.dark-theme #instructions,
.dark-theme #instructions2,
.dark-theme #instructions3,
.dark-theme #gameplayTime,
.dark-theme #pause-menu,
.dark-theme #gameOver-menu {
    border: 0.3em solid rgb(10, 10, 10);
    background-color: #2c2c2c;
    color: #b7b7b7;
}

.dark-theme *::-webkit-scrollbar-track {
    background: linear-gradient(#373737, #3c3c3c, #373737);
}

.dark-theme *::-webkit-scrollbar-thumb {
    background: linear-gradient(#121212, #1c1c1c, #121212);
    border: 1.5px solid whitesmoke;
}

.dark-theme #instruction-btn {
    border: none;
    background-color: #044bc7;
    color: #ebe8e8;
}

.dark-theme .btn,
.dark-theme #instruction-btn:hover {
    border: none;
    --c: rgb(10, 10, 10);
    --hover: rgb(10, 10, 10);
    background-color: #005eff;
    color: #ebe8e8;
}

.dark-theme .lists {
    background-color: #2c2c2c;
}

.dark-theme .lists li {
    background-color: #2c2c2c;
    color: #b7b7b7;
}

.dark-theme .choose-btn {
    background-color: #ffffff3b;
    color: #b7b7b7;
}

.dark-theme .choose-btn p {
    color: #f3eeee;
}

.dark-theme #light-icon,
.dark-theme #back-icon,
.dark-theme #volume-off-icon,
.dark-theme #progress-bar-container {
    color: #f3eeee;
}


#progress-bar-container {
    position: fixed;
    bottom: 60px;
    right: 25px;
    z-index: 99;
    display: none;
}

#progress-bar {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background:
        radial-gradient(closest-side, white 79%, transparent 80% 100%),
        conic-gradient(#005eff calc(var(--progress-value) * 1%), pink 0);
    position: relative;
    font-size: x-large;
    color: black;
    padding: 0.5em;
}

#progress-bar i {
    font-size: 100%;
    /* Adjust the percentage based on your preference */
}

@media (max-width: 765px) {
    #progress-bar-container {
        bottom: 100px;
        /* Adjust as needed to clear the footer */
    }

    /* Adjust font size for smaller screens */
    /* #progress-bar {
        font-size: large; 
    } */
}

@media (min-width: 765px) and (max-width: 820px) {
    #progress-bar-container {
        bottom: 100px;
        /* Adjust as needed to clear the footer */
    }
}

@media (min-width: 820px) and (max-width: 865px) {
    #progress-bar-container {
        bottom: 100px;
        /* Adjust as needed to clear the footer */
    }
}

.container {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    position: relative;
    padding: 10px;
}

.volume-icon,
#light-icon,
#back-icon {
    margin-left: 10px;
}

.volume-icon,
#light-icon {
    order: 2;
}

#back-icon {
    order: 3;
}

/* Additional styling for icons if needed */
#instructions,
#instructions2,
#instructions3 {
    background: linear-gradient(to bottom, #001325, #014588, #0073a1, #07778d);
    color: white;
}

@keyframes colorfulBorder {
    0% {
        border-color: red;
    }

    25% {
        border-color: orange;
    }

    50% {
        border-color: yellow;
    }

    75% {
        border-color: violet;
    }

    100% {
        border-color: rgb(28, 31, 228);
    }
}

#instructions,
#instructions2,
#instructions3 {
    border-width: 8px;
    border-style: solid;
    animation: colorfulBorder 4s infinite linear;
    text-align: center;
    /* height: 36em; */
}

.xy {
    border-width: 5px;
    border-style: solid;
    animation: colorfulBorder 2s infinite linear;
    margin-left: 90px;
    margin-right: 90px;
    background-color: #fffc34;
    border-radius: 14px;
    color: black;

    #instructions {
        background: linear-gradient(to bottom, #001325, #014588, #0073a1, #00b4d8);
        color: white;
        text-align: center;
    }

    @keyframes colorfulBorder {
        0% {
            border-color: red;
        }

        25% {
            border-color: orange;
        }

        50% {
            border-color: yellow;
        }

        75% {
            border-color: violet;
        }

        100% {
            border-color: blue;
        }
    }

    #instructions,
    #instructions2,
    #instructions3 {
        border-width: 15px;
        border-style: solid;
        animation: colorfulBorder 4s infinite linear;
        text-align: center;
    }

    .xy {
        border-width: 5px;
        border-style: solid;
        animation: colorfulBorder 2s infinite linear;
        background-color: #fffc34;
        border-radius: 14px;
        color: black;
        text-align: center;
    }
}

/* responsive instruction box  */
@media screen and (max-width:1024px) {

    #instructions,
    #instructions2,
    #instructions3 {
        width: 70vw;
    }

    .instruction-heading {
        margin-top: 10rem;
    }
}

@media screen and (max-width:768px) {

    #instructions,
    #instructions2,
    #instructions3 {
        width: 85vw;
    }

    .instruction-heading {
        margin-top: 10rem;
    }

    .xy {
        margin-left: 30px;
        margin-right: 30px;
    }

    .game-container {
        margin-top: 3.4rem;
    }
}

@media screen and (max-width: 676px) {
    .instruction-heading {
        margin-top: 13rem;
    }
}

@media screen and (max-width: 478px) {

    #instructions,
    #instructions2,
    #instructions3 {
        width: 85vw;
    }

    .instruction-heading {
        margin-top: 13rem;
    }

    #instructions ol,
    #instructions2 ol,
    #instructions3 ol {
        padding: 0 6px;
    }
}

@media screen and (max-width: 400px) {

    #instructions,
    #instructions2,
    #instructions3 {
        width: 90vw;
    }

    .instruction-heading {
        margin-top: 18rem;
    }
}

#time-range-val {
    padding: 1rem;
}

#gameplayTime {
    background: #07182E;
    background: radial-gradient(circle, rgb(230, 252, 255) 26%, rgb(1, 24, 23) 100%);
    border-width: 1px;
    box-shadow: 0 0 20px rgba(255, 0, 0, 0.5); /* Initial glowing effect */
    color: rgb(255, 245, 245);
    position: absolute;
    z-index: 8;
    padding: 3rem;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    font-size: larger;
    display: none;
    align-items: center;
    justify-content: center;
    width: 50vw;
    margin-bottom: 10rem;
    margin-top: 15vh;
    flex-direction: column;
    justify-content: space-evenly;
    transition: all 0.5s ease-in-out;
    border-radius: 20px;
    overflow: hidden;
}

#gameplayTime b {
    z-index: 1;
    margin-bottom: 10px;
}

#gameplayTime div {
    z-index: 1;
}

#gameplayTime h2 {
    z-index: 1;
}

#gameplayTime input {
    z-index: 1;
}

/* Adding color revolving effect */

#gameplayTime::before {
    content: '';
    position: absolute;
    width: 200px;
    background-image: linear-gradient(180deg, rgb(0, 183, 255), rgb(255, 48, 255));
    height: 300%;
    animation: rotBGimg 3s linear infinite;
    transition: all 0.2s linear;
}

@keyframes rotBGimg {
    from {
        transform: rotate(0deg);
    }
  
    to {
        transform: rotate(360deg);
    }
}

#gameplayTime::after {
    content: ' ';
    position: absolute;
    background: #07182E;
    /* background: radial-gradient(circle, rgb(230, 252, 255) 26%, rgb(218, 11, 255) 100%); */
    inset: 5px; 
    border-radius: 15px;
}

* {
    cursor: none;
}
